{% extends "base.html" %}

{% block pagetitle %}
    {{ room_name }} room control panel
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row my-3">
            <div class="col text-center">
                <h1>Room {{ room_name }} control panel</h1>
            </div>
        </div>
        <div class="row">
            <div class="col py-1 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4>Pressure</h4>
                        <span class="h2" id="textPRES"></span>
                    </div>
                </div>
            </div>
            <div class="col py-1 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4>Humidity</h4>
                        <span class="h2" id="textHUM"></span>
                    </div>
                </div>
            </div>
            <div class="col py-1 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4>CO2</h4>
                        <span class="h2" id="textCO2"></span>
                    </div>
                </div>
            </div>
            <div class="col py-1 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4>Temperature</h4>
                        <span class="h2" id="textTC"></span>
                    </div>
                </div>
            </div>
            <div class="col py-1 text-center">
                <div class="card">
                    <div class="card-body">
                        <h4>Battery</h4>
                        <span class="h2" id="textBAT"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="LineTC"></canvas>
                    </div>
                </div>
            </div>
            <div class="col py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="LineHUM"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="LineCO2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="LinePRES"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="LineBAT"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://momentjs.com/downloads/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" type="text/javascript"></script>
<script>
    var csrftoken = getCookie('csrftoken')

    $(document).ready(function(){

        function newDate(days) {
            return moment().add(days, 'd').toDate();
        }

        function newDateString(days) {
            return moment().add(days, 'd').format();
        }

        function getCFG(label, text, data) {
            var config = {
                type: 'line',
                data: {
                    datasets: [{
                        label: label,
                        backgroundColor: "#61bfff",
                        borderColor: "#a0ff78",
                        fill: false,
                        data: data,
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: text
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            },
                            ticks: {
                                major: {
                                    fontStyle: 'bold',
                                    fontColor: '#FF0000'
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'value'
                            }
                        }]
                    }
                }
            };
            return config
        }

        function drawLine(config, idram, data) {
            var ctx = document.getElementById(idram).getContext('2d');
            return new Chart(ctx, config)
        }

        function updateGraph(conf, line, sensor) {
            $.getJSON('/api/measures/get_measure_by_name/?sensor='+sensor+'&room_name='+{{ room_name }}, function(data){
                var items = [];
                $.each(data, function(index, element) {
                    items.push({
                        x:element.timestamp,
                        y:element.value
                    })
                });

                $('#text'+sensor).text(items[items.length - 1]['y'].toFixed(2));
                conf.data.datasets[0].data = items;
                line.update()
             });
        }

        var confPRES = getCFG("Pressure", "Pressure, Pa", []);
        var linePRES = drawLine(confPRES, "LinePRES");
        updateGraph(confPRES, linePRES, "PRES");

        var confHUM = getCFG("Humidity", "Humidity, %", []);
        var lineHUM = drawLine(confHUM, "LineHUM");
        updateGraph(confHUM, lineHUM, "HUM");

        var confCO2 = getCFG("CO2", "CO2, ppm", []);
        var lineCO2 = drawLine(confCO2, "LineCO2");
        updateGraph(confCO2, lineCO2, "CO2");

        var confTC = getCFG("Temperature", "Temperature, Celcius degree", []);
        var lineTC = drawLine(confTC, "LineTC");
        updateGraph(confTC, lineTC, "TC");

        var confBAT = getCFG("Battery", "State of the batteries, sensornodes, %", []);
        var lineBAT = drawLine(confBAT, "LineBAT");
        updateGraph(confBAT, lineBAT, "BAT");

        function updateAll() {
            updateGraph(confPRES, linePRES, "PRES");
            updateGraph(confHUM, lineHUM, "HUM");
            updateGraph(confCO2, lineCO2, "CO2");
            updateGraph(confTC, lineTC, "TC");
            updateGraph(confBAT, lineBAT, "BAT");
        }

        setInterval(updateAll, 10000);

    });
</script>
{% endblock %}